body {
  background-color: #E9E9E9;
}

.deleteBtn {
  margin-left: 10px;
}

#listArea {
  list-style: none;
}

#container {
  width: 600px;
  margin: 10% auto;
  /* background: #6BBAA7; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 10px;
  margin-right: 5px;
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 4;
  height: 350px;
  padding-top: 10px;
  margin-left: 5px;
}

.box4 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color:
}


#nameInput {
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #CDCDCD;
}

#nameInput:focus {
  border: 2px solid darkgrey;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  /*font-family: 'Oswald', sans-serif;
  color: white; */
  font-size: 3em;
  font-weight: 400;
}

#h1Line2 {
  margin-top: 0;
  letter-spacing: 3px;
}

#btnContainer {
  padding-left: 25px;
  width: 100%;
  margin: 0 auto;
}

button {
  height: 30px;
  border: 0;
  border-radius: 0px;
}

#randomBtn {
  background-color: #FBA100;
  color: white;
  font-weight: bold;
}

#clearAllBtn {
  background-color: #EFD9C1;
  color: grey;
  font-weight: bold;
}

.listName {
  font-size: 14px;
  font-weight: 200;
}
